.product{
    align-items: center;
    margin-left: auto ;
    margin-right: 38rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: max-content;
    padding: .5rem;
    background-color: rgb(226, 235, 53);
    border: 2px solid rgb(25, 11, 228);
    border-radius: 1rem;
    cursor: pointer;
}

.createbundle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin : 0 auto;
}

.form > *
{
    margin : .5rem 0;
}

button{
    align-self: center;
    margin-left: auto ;
    margin-right: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: max-content;
    padding: .5rem;
    background-color: rgb(232, 67, 45);
    border: 2px solid rgb(4, 90, 73);
    border-radius: 1rem;
    cursor: pointer;
}