.home{
    position: absolute;
    display: flex;
    background-image: url(/Users/soundharya.nandhakumar/my-new-react-project/my-new-react.js-project/src/images/img.jpg);
    height: 2500px;
    width: 2500px;
    background-repeat: no-repeat;
    left: 30%;
    top: 20%;
    
}
