.App {
  text-align: center;
}

#root{
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
  flex-direction: column;
  background-color: rgb(42, 237, 251);
  min-height: calc(100vh - 63px);
  margin: 0 !important;
}